$primary: #8779B2;
$dark: #2b2433;
$light: white;

$font-heading: 'Futura Maxi CG Bold', sans-serif;
$font-body: 'Whitney', sans-serif;

$drop-shadow: 0 3px 5px rgba(#000, 0.3);
$transition: all 0.15s ease; // bootstrap + about page
$border-radius: 4px;