$primary: #8779B2;
$dark: #2b2433;
$light: white;

$font-heading: 'Futura Maxi CG Bold', sans-serif;
$font-body: 'Whitney', sans-serif;

$drop-shadow: 0 3px 6px rgba(#000, 0.4);
$transition: all 0.15s ease; // bootstrap + about page
$border-radius: 4px;

$breakpoint-desktop: 1280px;
$breakpoint-tablet: 960px;
$breakpoint-mobile: 576px;